@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #2c3e50;
  color: #ecf0f1;
  max-width: 1000px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
